/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://generatepress.com
 Description:  Default GeneratePress child theme
 Author:       Tom Usborne
 Author URI:   https://tomusborne.com
 Template:     generatepress
 Version:      0.1
*/
body.post-template-default #menu-item-139 a, body.post-template-default #menu-item-140 a{
	display: none;
}
body.post-template-default #main{
	margin: 0 20px;
}
body.post-template-default #page {
	margin: 0 auto;
	padding-top: 130px;
}
/* HEADER */
.inside-header {
	display: flex;
	align-content: center;
	max-width: 1400px;
	width: 100%;
	height: 70px;
}
#masthead {
	/* display: flex;
	align-content: center; */
	background-color: #f0f0f0;
	position: fixed;
	width: 100%;
	height: 70px;
	box-shadow: 4px 4px 2px rgb(0,0,0,0.3);
}

#page {
	width: 100vw;
	margin: 0;
	padding-top: 70px;
}
#primary-menu {
	background-color: #f0f0f0;
}
#menu-main-menu a {
	display: flex;
	justify-content: space-evenly;
	font-size: 1.3rem;
}
#main {
	margin: 0;
}
.menu-toggle {
	background-color: #f0f0f0 !important;
}
/* HERO SECTION */
#hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 100vw;
	background-image: url("https://ngocthangdoan.me/wp-content/uploads/2026/01/Earth-e1769824654484.webp");
	color:cyan;
	margin: 0;
}
#hero h2 {
	margin-bottom: 5px;
}
#button-hero-cta {
	border-radius: 15px;
	font-weight: 600;
	background-color: blue;
}
#button-hero-cta:active {
    transform: scale(0.8);
}

/* BLOGS SETION */
.page-posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	width: 100vw;
	margin: 0;
	background-color: aliceblue;
	padding: 20px;
}

.posts-items {
	display: flex;
	justify-content: space-evenly;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
	gap: 10px;
}

.article-home {
	width: 220px;
	height: 200px;
	background-color: rgb(225, 234, 242);
	box-shadow: 3px 3px 5px rgb(0,0,0,0.3);
	padding: 15px;
	margin-top: 10px;
}
.article-home a {
	text-decoration: none;
	color: rgb(97, 12, 12)
}
.post-title {
	font-size: 1.5rem;
}
.post-meta {
	font-size: 0.8rem;
	font-weight: 550;
	margin-top: 0px;
}

/* SERVICES SECTION */
.services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: white;
	padding-top: 25px;
}

.service-items {
	display: flex;
	justify-content: space-evenly;
	width: 70vw;
	gap: 10px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.service1, .service2, .service3 {
	display: flex;
	flex-direction: column;
	width: 220px;
}

h3 {
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	/* font-size: 1rem; */
}
/* FOOTER */
.site-info {
  background-color: #f0f0f0 !important;
}

/* mobile screen*/
@media (max-width: 767px) {
	.service-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
	.posts-items {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


